<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for与v-bind</title>
</head>
<body>
<div id="app">
    <select v-model="sel">
        <option v-for="option in options" :value="option.value">{{option.text}}</option>
    </select>
</div>
<p>选择的是：{{sel}}</p>
<script src="js/vue.js"></script>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            sel:"html",
            options:[
                {
                    text:"HTML",
                    value:'html'
                },
                {
                    text:"CSS",
                    value:'css'
                },
                {
                    text:"Javascript",
                    value:'js'
                }

            ]
        }
    })
</script>
</html>