<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组合使用</title>
</head>
<body>
<div id="app">
    <input type="radio"v-model="pick"value="html"id="html">
    <label for="html">HTML</label>
    <input type="radio"v-model="pick"value="css"id="css">
    <label for="css">CSS</label>
    <input type="radio"v-model="pick"value="Javascript"id="js">
    <label for="js">JavaScript</label>
    <p>你选择的是:{{pick}}</p>
</div>
<script src="js/vue.js"></script>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            pick:''
        }
    })

</script>
</html>
