<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        li{
            list-style-type: none;
        }
    </style>
</head>
<body>
<div id="app">
    <input type="text" v-model="inputValue"/>
    <button @click="handleBtnClick">提交</button>
    <ul>
       <!-- <li v-for="item in list">
            {{item}}
        </li>-->
        <todo-item v-bind:content="item" v-for="item in list"></todo-item>
    </ul>
</div>
<script src="js/vue.js"></script>
</body>
<script>
   /* Vue.component('TodoItem',{
        props:['content'],
        template:"<li>{{content}}</li>"
    });*/
   var TodoItem={
       props:['content'],
       template:"<li>{{content}}</li>"
   };

    var app = new Vue({
        el:"#app",
        components:{
            TodoItem:TodoItem
        },
        data:{
            list:[],
            inputValue:''
        },
        methods:{
            handleBtnClick:function () {
                this.list.push(this.inputValue);
                this.inputValue=''

            }
        }
    })
</script>
</html>