.anq{
	width: 933px;
	margin-top: 50px;
	float: left;
	font-size: 14px;
	color: #4c4f56;
}
.cls{
	color: #dd7d4a;
	background: #fffdee;
	line-height: 30px;
	margin-top: 15px;
}
.poss{
	margin-top: 31px;
	width: 933px;
	float: left;
}
.posss{
	width: 933px;
	float: left;
}
.po{
	float: left;
	margin-left: 25px;
	font-size: 17px;
	font-weight: bold;
	margin-right: 59px;
	margin-top: 9px;
}
#ims{
	float: left;
}
.xz{
	float: left;
	font-size: 13px;
	color: #ad4a4d;
	margin-left: 14px;
	margin-top: 9px;
}
.xzs{
	float: left;
	font-size: 12px;
	color: #9a9a9a;
	margin-left: 14px;
	margin-top: 15px;
}
.gg{
	float: right;
	margin-top: 10px;
	margin-right: 128px;
}
.xian{
	width: 933px;
	height: 1px;
	background: #e5e5e5;
	float: left;
	margin-top: 27px;
	margin-bottom: 27px;
}
.xian2{
	width: 933px;
	height: 1px;
	background: #e5e5e5;
	float: left;
	margin-top: 27px;
	margin-bottom: 24px;
}
.ka{
	color: #782326;
}
.nex1{
	color: #4e484c;
	text-indent: 21px;
}
.nex2{
	color: #979797;
	text-indent: 21px;
}
.nex3{
	color: #979797;
	text-indent: 21px;
}
