.li-ckt-info, .address-li-ckt-info, .center-ckt-info, .detail-item-discount, .content-item-coupon, .bill_btn {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.aliases-li-ckt-info, .li-ckt-pay, .more-collapse-ckt, .ckt-checkbox, .item-discount-inventory {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.name-li-ckt-info, .address-li-ckt-info, .mobile-li-ckt-info, .operate-li-ckt-info {
    float: left;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.btn-div input, .btn-div a {
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: normal;
    font: 14px/35px "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    margin-left: 10px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    transition: all 0.4s ease 0s;
    height: 38px;
    line-height: 38px;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
/*a {*/
    /*color: #337ab7;*/
    /*text-decoration: none;*/
/*}*/
/*a:focus,a:hover {*/
    /*color: #23527c;*/
    /*text-decoration: underline;*/
/*}*/
/*订单信息流程信息*/
.flow-steps {
    float: right;
    height: 3px;
    margin: 53px 40px 0 0;
    width: 615px;
}

.flow-steps ol {
    margin: 0 auto;
    list-style: none;
}

.flow-steps ol li {
    float: left;
    height: 3px;
    position: relative;
    list-style: outside none none;
}

.flow-steps ol li span {
    bottom: -35px;
    color: #999;
    display: block;
    height: 16px;
    left: -16px;
    position: absolute;
    width: 100px;
}

.flow-steps ol li em {
    background: #dedede none repeat scroll 0 0;
    border: 3px solid #fff;
    border-radius: 13px;
    color: #666;
    height: 18px;
    left: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: -11px;
    width: 18px;
    font-style: normal;
}

.flow-steps ol .num1 {
    background: #ff6700;
    width: 163px;
}

.flow-steps ol .num1 span {
    color: #ff6700;
}

.flow-steps ol .num1 em {
    background: #ff6700 none repeat scroll 0 0;
    color: #fff;
}

.flow-steps ol .num2 {
    background: #ff6700;
    width: 290px;
}

.flow-steps ol .num2 span {
    left: 108px;
    color: #ff6700;
}

.flow-steps ol .num2 em {
    background: #ff6700 none repeat scroll 0 0;
    color: #fff;
    left: 128px;
}

.flow-steps ol .num3 {
    background: #ff6700;
    width: 162px;
}

.flow-steps ol .num3 span {
    left: 130px;
    color:#ff6700;
}

.flow-steps ol .num3 em {
    left: 150px;
    background: #ff6700 none repeat scroll 0 0;
    color: #fff;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}
/*中间部分*/
.encircle {
    width: 1100px;
    overflow: hidden;
    padding: 35px 50px;
    background: #fff;
    margin: 0px auto;
}
.encircle img {
    width: 84px;
    height: 84px;
    float: left;
    display: inline;
}
.encircle .checkout_order_right {
    float: left;
    overflow: hidden;
    margin: 0 0 0 50px;
    width: 965px;
}
.encircle .checkout_order_right h1 {
    display: block;
    font: 24px/28px "microsoft yahei",Arial;
    height: 40px;
    overflow: hidden;
}
.encircle .checkout_order_right h1 span {
    float: right;
    height: 50px;
    color: #6a6a6a;
    font-size: 16px;
}
.encircle .checkout_order_right h1 span i {
    color: #ff5c00;
    font-size: 28px;
    font-family: Arial,"宋体";
}
.encircle .checkout_order_right .checkout_order_summary {
    width: 965px;
    height: 50px;
    oveflow: hidden;
    clear: both;
    position: relative;
}
.encircle .checkout_order_right .checkout_order_summary p {
    font-size: 14px;
    font-weight: normal;
    line-height: 50px;
    font-family: Arial,"宋体";
    float: left;
}
.encircle .checkout_order_right .checkout_order_summary p {
    font-size: 14px;
    font-weight: normal;
    line-height: 50px;
    font-family: Arial, 宋体;
    float: left;
}
.encircle .checkout_order_right .checkout_order_summary p span {
    color: #ff5c00;
    margin: 0 10px 0 1px;
    font-size: 14px;
}
.encircle .checkout_order_right .checkout_order_summary p i {
    margin: 0 5px;
}
.encircle .checkout_order_right .checkout_order_summary .checkout_order_more {
    position: absolute;
    right: 0px;
    padding-right: 20px;
    top: 10px;
    color: #337ab7;
}
.encircle .checkout_order_right .checkout_order_summary .checkout_order_more:hover {color: #23527c;}

.encircle .checkout_order_right .checkout_order_summary .checkout_order_more i {
    /*background: url(../images/xiangs.jpg) no-repeat right center;*/
    width: 15px;
    height: 8px;
    display: block;
    float: right;
    margin: 5px 0px 0px 5px;
}
.encircle .checkout_order_right .checkout_order_summary .checkout_order_more .order-succes-up {
    /*background: url(../images/xiangxi.jpg) no-repeat right center;*/
}
/*商品配送信息*/
.checkout_order_intro {
    width: 965px;
    padding: 10px 0 0 0;
    border-top: 1px solid #dcdbdc;
}
.checkout_order_intro .checkout_order_same {
    width: 965px;
    overflow: hidden;
    line-height: 30px;
}
.checkout_order_intro .checkout_order_same p {
    float: left;
    height: 30px;
    line-height: 30px;
    display: block;
    margin: 0 5px 0 0;
}
.checkout_order_intro .checkout_order_same span {
    color: #ff5c00;
    float: left;
    height: 30px;
    line-height: 30px;
    display: block;
    margin: 0px 0px 0px 5px;
}
.checkout_order_intro .checkout_order_same ul {
    flot: left;
    display: block;
    width: 800px;
    overflow: hidden;
    list-style: none;
}
.checkout_order_intro .checkout_order_same ul li {
    width: 800px;
    height: 30px;
    line-height: 30px;
}
.checkout_order_intro .checkout_order_same ul li a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #337ab7;
}
.checkout_order_intro .checkout_order_same ul li a:hover{color: #23527c;}
.checkout_order_intro .checkout_order_same i {
    flot: left;
    height: 30px;
    line-height: 30px;
    margin: 0 0 0 5px;
}
/*按钮*/
.checkout_order_tools {
    width: 960px;
    overflow: hidden;
    height: 50px;
    padding: 5px 0 0 0;
}
.checkout_order_tools a {
    width: 150px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    color: #fff;
    margin: 1px 15px 0 1px;
    display: block;
}
.checkout_order_tools .go_pay {
    background: #da4f49;
}
.checkout_order_tools .go_continue {
    background: #49afcd;
}
.checkout_order_tools .go_state {
    background: #ccc;
}